html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.container {
  padding: 1rem 1.2rem 1rem 1.2rem;
  transition: all 0.3s linear;
  border-radius: 1px;

  font-size: 2rem;
}
